/******************************** Main Home Caption Formatting ********************************/
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    text-align: left;
    font-weight: 900;
    padding-bottom: 50px;
}

/* Common Font for Entire Body */
body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/*BG-Color */

.dark-color-section {
    background-color: #ff4c68;
    color: white;
}

.white-color-section{
    background-color: white;
}

.light-color-section{
    background-color: #ef8172;
    color: white;
}

/* Navigation Bar from Bootstrap Additional Formatting */
.navbar {
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    margin: 0 0 0 8%;
}

.nav-item {
    font-size: 1.25rem;
    font-weight: 400;
    padding: 0 10px;
}

/* Main Caption Padding */
#home-content {
    padding: 10px 15% 50px;
    /* Top L-R Bottom*/
}

/* Download Button */
.prasanna-download {
    margin-right: 20px;
}

/* IPhone Z-index Formatting and Rotation */
.iphone-img {
    height: 600px;
    transform: rotate(25deg);
}

/* Learn Breakpoints, so that we can avoid the image from moving else where when in different resolution */

/******************************** Second Section - Features Position ********************************/
#features {
    /* We give BG-Colour, because we want to hide the Iphone image behind this. If not given, this will remain see-through*/
    position: relative;
    /* If absolute given, it will make the section-3 to come up and overlap */
    /* z-index: 2; We don't need to mention z-index, although it helps in stacking, because of code order and relative position */
}

/* Second Section - Features Icon - Normal/Hover */
i2 {
    padding-bottom: 10px;
    color: #ef8172;
}

i2:hover, #pricing h2{
    color: #ff4c68;
}
/******************************** Section 3 - Testimonials ********************************/
h2 {
    font-size: 3rem;
    font-weight: 900;
}

.testimonial-image {
    margin: 30px;
    border-radius: 100%;
    height: 100px;
}

/* Slideshow */

.testi-icons {
    width: 15%;
    padding-bottom: 30px;
    margin: 30px;
}

.carousel-indicators {
    margin: 20px;
}

.carousel-item {
    padding: 50px 15% 50px 15%;
    /* We use padding here instead of the entire testimonial block */
}

/******************************** Section 4 - Pricing Cards ********************************/
#pricing {
    margin-top: 50px;
    padding: 30px;
}

#pricing p{
    color: #ef8172;
}

#pricing-cards-prasanna {
    padding-top: 10px;
}

.card-prasanna-size {
    padding: 20px 30px 0px 30px;
}

/******************************* Section 5 - Footer ********************************/
#cta, #features {
    padding: 100px 100px;
}

.footer-download {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 5rem;
    margin-bottom: 50px;
}

#footer {
    color: black;
    margin: 30px 0px 20px;
}

.footer-image {
    margin: 5px 10px 10px;
}

/******************************* Small Resolution Breakpoint ********************************/
/* We saw that the screen breaks at 1092px width, using Google Inspect */

@media (max-width:1110px) {
    .iphone-img {
        position: relative;
        transform: rotate(0);
        margin-top: 30px;
    }

    #title {
        padding-bottom: 500px;
    }

    h1 {
        text-align: center;
    }
}